{%- if metadata.title -%}
{%- set dash = " - " -%}
{%- set page_title = metadata.title -%}
{%- elseif title -%}
{%- set dash = " - " -%}
{%- set page_title = title -%}
{%- else -%}
{%- set dash = "" -%}
{%- set page_title = "" -%}
{%- endif %}
{% if metadata.description -%}
{%- set page_description = metadata.description -%}
{%- elseif description -%}
{%- set page_description = description -%}
{%- else -%}
{%- set page_description = "blog.osau.re" -%}
{%- endif -%}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
    <title>
        Dinosaure's website{{ dash }}{{ page_title }}
    </title>
    <meta name="description" content="{{ page_description }}">
    <link type="text/css" rel="stylesheet" href="{{ root }}/css/hl.css">
    <link type="text/css" rel="stylesheet" href="{{ root }}/css/style.css">
    <script src="{{ root }}/js/hl.js"></script>
    <link rel="alternate" type="application/rss+xml" href="{{ root }}/feed.xml" title="blog.osau.re">
  </head>
  <body>
    <header>
      <h1>blog.osau.re</h1>
      <blockquote>
	<strong>MirageOS</strong> and <strong>OCaml</strong> stuffs.
      </blockquote>
    </header>
    <main>
        {%- autoescape false -%}
        {{ body }}
        {% endautoescape -%}
    </main>
    <footer>
        <a href="https://github.com/xhtmlboi/yocaml">Powered by <strong>YOCaml</strong></a>
        <br />
    </footer>
    <script>hljs.highlightAll();</script>
  </body>
</html>
