<a class="small-button github" href="https://github.com/dinosaure">github/dinosaure</a>
<a class="small-button twitter" href="https://twitter.com/Dinoosaure">@Dinoosaure</a>
<a class="small-button rss" href="./feed.xml">RSS</a>

{%- autoescape false -%}
{{ body }}
{% endautoescape -%}

<h3>Essays and ramblings</h3>

<ol reversed class="list-articles">
    {%- for article in articles -%}
    <li>
        <div class="side">
            <a href="{{ article.author.link }}">
                <img src="{{ article.author.avatar }}">
            </a>
            {%- for co_author in article.co_authors -%}
            <a href="{{ coauthor.author.link  }}">
                <img src="{{ coauthor.author.avatar }}">
            </a>
            {%- endfor -%}
        </div>
        <div class="content">
            <span class="date">{{ article.date.canonical }}</span>
            <a href="{{ article.url }}">{{ article.metadata.title }}</a><br />
            <p>{{ article.metadata.description }}</p>
            <div class="bottom">
                <ul class="tags-list">
                    {%- for tag in article.tags -%}
                    <li><a href="/tags/{{ tag  }}.html">{{ tag }}</a></li>
                    {%- endfor -%}
                </ul>
            </div>
        </div>
    </li>
    {%- endfor -%}
</ol>
