<a class="small-button github" href="https://github.com/xhtmlboi">github/xhtmlboi</a>
<a class="small-button twitter" href="https://twitter.com/the_xhtmlboy">@the_xhtmlboy</a>
<a class="small-button rss" href="./feed.xml">RSS</a>

{%- autoescape false -%}
{{ body }}
{% endautoescape -%}

<h3>Essays and ramblings</h3>

<ol reversed class="list-articles">
    {%- for article in articles -%}
    <li>
        <span class="date">{{ article.date.canonical }}</span>
        <a href="{{ article.url }}">{{ article.article_title }}</a><br />
        <p>{{ article.article_description }}</p>
    </li>
    {%- endfor -%}
</ol>
