<a href="/index.html">Back to index</a>

{%- autoescape false -%}
{{ body }}
{% endautoescape -%}

<ul class="tags-list">
    {%- for tag in tags -%}
    {%- set nb_tags = length (tag.articles) -%}
    <li><a href="#tag-{{ tag.tag  }}">{{ tag.tag }} ({{ nb_tags  }})</a></li>
    {%- endfor -%}
</ul>

{%- for tag in tags -%}
<div class="tag-box" id="tag-{{ tag.tag  }}">
    {%- set nb_tags = length (tag.articles) -%}
    <h3>
        <span>{{ tag.tag }}</span>
        {{ nb_tags }}
        {%- if nb_tags > 1 %} entries{%- else %} entry{%- endif -%}
    </h3>
    <ul>
        {%- for article in tag.articles -%}
        <li><a href="{{ article.url }}">{{ article.article_title  }}</a></li>
        {%- endfor -%}
    </ul>
</div>
{%- endfor -%}
